/* Put tables side by side */
.tables-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
}

/* Basic table styling */
.orderbook-table {
    border-collapse: collapse;
    width: 300px;
    font-size: 15px;
}

/* Table header */
.orderbook-table th {
    background-color: #f0f0f0;
    padding: 8px;
    font-weight: bold;
}

/* Table cells */
.orderbook-table td {
    padding: 6px 10px;
    text-align: center;
}

/* Border for table items */
.orderbook-table th, 
.orderbook-table td {
    border: 1px solid #ccc;
}
.orderbook-title {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
}
